<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cocktail-am" >
	<tr>
		<td>
			<f:translate key="tx_cocktailam_domain_model_recipe.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailam_domain_model_recipe.photos" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailam_domain_model_recipe.nb_personnes" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailam_domain_model_recipe.descriptiom" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailam_domain_model_recipe.difficulty" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailam_domain_model_recipe.prep_t_ime" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>